html {
    box-shadow: 0;
    border: 0;
}
body {
    font-family: 'Signika', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #FAFAFA;
    padding: 90px;
    background-color: rgb(34,34,34);
}
h1 {
    font-family: 'Chango', cursive;
}
.navbar {
    background-color: #CBEFE0;
}
.navbar-brand {
    font-family: 'Chango', cursive;
}
.container {
}
.transit-container {
    position: absolute;
    width: 100%;
    height: 24em;
}
.blur-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: url('bus2.jpg') no-repeat scroll -90px transparent;
    background-size: 3000px auto;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    height: 100%;
}
.transit-box {
    position: relative;
    z-index: 100;
    background: rgb(34,34,34);
    background: rgba(34,34,34,0.2);
    padding: 10px;
    height: 100%;
}
.transit-footer {
    padding-top: 20em;
    color: rgba(128,128,128,0.7);
    text-align: center;
}